<%- include('partials/header') %>
  <h1>Submit a Number</h1>
  <div class="d-flex justify-content-center align-items-center">
    <form action="/calculate" method="POST" class="w-100" style="max-width: 400px;">
      <div class="form-group mb-3">
        <label for="domain-option">Measurement</label>
        <select name="domain" id="domain-option" class="form-control form-select">
          <option value="length">Length</option>
          <option value="mass">Mass</option>
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="unit-option">Unit</label>
        <select name="unit" id="unit-option" class="form-control form-select">
          <!-- Filled dynamically -->
        </select>
      </div>

      <div class="form-group mb-3">
        <label for="input-value">Value</label>
        <input type="number" id="input-value" name="number" min="0.00000001" step="any" required class="form-control">
      </div>

      <button type="submit" class="btn btn-primary w-100">Transform</button>
    </form>
  </div>

  <% if (value !==null) { %>
    <div class="d-flex justify-content-center mt-4">
      <div class="p-3 border rounded" style="border-width: 2px; width: 75%;">

        <% if (domain==="length" ) { %>
          <span id="user-value">
            <strong>
              <%= numberValue %>
                <%= unit %>s
            </strong>
          </span> is equivalent to the size of <span id="computed-value">
            <strong>
              <%= value %>
                <%= name %>
            </strong>
          </span>
          <% } else if (domain==="mass" ) { %>
            <span id="user-value">
              <strong>
                <%= numberValue %>
                  <%= unit %>s
              </strong>
            </span> weighs the sames as <span id="computed-value">
              <strong>
                <%= value %>
                  <%= name %>
              </strong>
            </span>
            <% } %>
              <!-- Source line with truncated link -->
              <p class="mb-0 text-truncate" style="max-width: 100%;">
                Source:
                <a href="<%= source %>" target="_blank">
                  <%= source %>
                </a>
              </p>

      </div>
    </div>
    <% } %>

      <!-- carousel -->
      <div class="d-flex justify-content-center align-items-center mt-5F">
        <div id="carouselMemes" class="carousel slide carousel-fade bg-black" style="width: 600px; height: 300px;">

          <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
              <img src="/images/meme1.jpeg" class="d-block mx-auto h-100" style="object-fit: contain;" alt="meme 1">
            </div>
            <div class="carousel-item h-100">
              <img src="/images/meme2.jpg" class="d-block mx-auto h-100" style="object-fit: contain;" alt="meme 2">
            </div>
            <div class="carousel-item h-100">
              <img src="/images/meme3.jpg" class="d-block mx-auto h-100" style="object-fit: contain;" alt="meme 3">
            </div>
            <div class="carousel-item h-100">
              <img src="/images/meme4.jpg" class="d-block mx-auto h-100" style="object-fit: contain;" alt="meme 4">
            </div>
            <div class="carousel-item h-100">
              <img src="/images/meme5.jpeg" class="d-block mx-auto h-100" style="object-fit: contain;" alt="meme 5">
            </div>
            <div class="carousel-item h-100">
              <img src="/images/meme6.jpeg" class="d-block mx-auto h-100" style="object-fit: contain;" alt="meme 6">
            </div>
          </div>

          <!-- Controls -->
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselMemes" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselMemes" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>


      <%- include('partials/footer') %>